<div class="interpolation">
    <!-- <h1>1.String interpolation</h1>
    <h3>{{' My name is: '+name}}</h3><br> -->
    <h1>2.Property Binding [] </h1>
    <app-child  [variableWithoutDefaultValue]="defaultValue"
                [variableWithDefaultValue]=""
                [student]="student"
                (studentEventEmitter)="setNewStudentData($event)" 
                 
                 > </app-child>
    {{ student | json }}<br><br>
    <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input
          matInput
          placeholder="Full Name"
          [(ngModel)]="student.fullName"
          name="fullName"
        />
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="saveData()">Save Data</button>
    

</div>

