<div class="flex-container" fxLayout="column">
  <div fxLayout="column" fxFill style="border: grey 5px solid">
    <div
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
      style="background-color: lightskyblue"
    >
      <div>
        <h1>Description</h1>
      </div>
      <span class="pipe-design">|</span>
      <div>
        <h1>Output</h1>
      </div>
    </div>
   
    <div class="form-margin" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column">
        <div class="rxjs-operator-design">
          <h4>
            <!-- const rangeObservable <span>=</span> range<span>(</span>this.firstArgument, this.secondArgument<span>)</span>;<br> -->
                <!-- rangeObservable<span>.</span>subscribe<span>((</span>number<span>)</span> <span> =></span><span> { </span><br> -->
                  <!-- this.resultList.push<span>(</span>number<span>)</span>;<br> -->
                  <!-- <span>});</span><br> -->
          </h4>
        </div>
        <div>
          <form>
            <div fxLayout="row" fxLayoutGap="30px">
              <div>
                <mat-form-field>
                  <mat-label>First Argument</mat-label>
                  <input
                    matInput
                    placeholder="First Argument"
                    [(ngModel)]="firstArgument"
                    name="firstArgument"
                  />
                </mat-form-field>
               </div>
             <div>   
              <mat-form-field >
                <mat-label>Second Argument</mat-label>
                <input
                  matInput
                  placeholder="Second Argument"
                  [(ngModel)]="secondArgument"
                  name="secondArgument"
                /> </mat-form-field
              ><br />
             </div>
             </div> 
             <div fxLayout="row" fxLayoutGap="30px">
               <button mat-flat-button color="primary" (click)="calculate()">Submit</button>
               <button mat-flat-button color="primary" (click)="reset()">Reset</button>
            </div>
          </form>
          <br />
        </div>
        <div>
          <h4>
            =============Output======================<br />

            Edge Case 1] range(0,5) will emit the number from 0 to 4<br />
            <br />
            Range emitted 0<br />
            Range emitted 1<br />
            Range emitted 2<br />
            Range emitted 3<br />
            Range emitted 4<br />
            <br />
            Edge Case 2] range(1,5) will emit the number from 1 to 5<br />
            <br />
            Range emitted 1<br />
            Range emitted 2<br />
            Range emitted 3<br />
            Range emitted 4<br />
            Range emitted 5<br />
          </h4>
        </div>
      </div>
      <div>
        <h2>Output</h2>
      </div>
    </div>
  </div>
</div>
