.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-left: 45px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  table {
    width: 100%;
  }

  .flex-container {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .pipe-design {
    font-size: 48px !important
  }

  .form-margin {
    margin-left: 20px;
  }

  /* .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */