<mat-sidenav-container fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>

      <a mat-list-item routerLink="/" (click)="start.close()">
        <mat-icon>library_books</mat-icon>
        <span>range()</span>
      </a>

      <a mat-list-item routerLink="event-property" (click)="start.close()">
        <mat-icon>library_books</mat-icon>
        <span>Event Property</span>
      </a>

      <a mat-list-item routerLink="rxjs-operator-sample" (click)="start.close()">
        <mat-icon>library_books</mat-icon>
        <span>RxJS Operator</span>
      </a>

      
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="start.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxLayoutAlign="space-evenly center">
      <h1 class="title">RxJS Operator</h1>
    </div>
  </mat-toolbar>
<div class="custom-padding">
  <router-outlet> </router-outlet>
</div>  
</mat-sidenav-container>
