<div class="interpolation">

    <h3>{{' variable Without Default Value: '+variableWithoutDefaultValue}}</h3><br>
    <h3>{{' variable With Default Value: '+variableWithDefaultValue}}</h3><br>
    <hr>


<form>
    {{ student | json }}<br><br>
    <div fxLayout="row" fxLayoutGap="30px">
      <div>
        <mat-form-field>
          <mat-label>Full Name</mat-label>
          <input
            matInput
            placeholder="Full Name"
            [(ngModel)]="student.fullName"
            (ngModelChange)="changeFullName($event)"
            name="fullName"
          />
        </mat-form-field>
       </div>
     <div>   
      <mat-form-field >
        <mat-label>Age</mat-label>
        <input
          matInput
          placeholder="Age"
          [(ngModel)]="student.age"
          name="age"
        /> </mat-form-field>
     </div>
    </div> 
     <div fxLayout="row" fxLayoutGap="30px">
       <button mat-flat-button color="primary" (click)="sendDataToParent()">Send data to parent</button>
       <!-- <button mat-flat-button color="primary" (click)="reset()">Reset</button> -->
    </div>
  </form>

</div>